* {
  font-family: "ioZevka Nerd", FontAwesome, sans-serif;
  font-size: 14px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  border-bottom: 3px solid rgba(255, 255, 255, 0.1);
}

#workspaces {
  margin: 0;
}

#workspaces button {
  padding: 0 10px;
  background-color: transparent;
  color: #555555;
  border: none;
  border-radius: 0;
  box-shadow: inset 0 -3px transparent;
}

#workspaces button:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #cccccc;
}

#workspaces button.active {
  color: #ffffff;
  box-shadow: inset 0 -3px #ffffff;
}

#bluetooth {
  padding: 0 10px;
  color: #555555;
}

#bluetooth.connected {
  color: #ffffff;
}

#bluetooth.on {
  color: #aaaaaa;
}

#bluetooth:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #cccccc;
}
