# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file, utf-8 charset
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# Ignore diffs/patches
[*.{diff,patch}]
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset

[*.{json,md,nix,pl,pm,py,rb,sh,xml,js,ts,tsx,jsx,html,css,zsh,c,cpp,h,hpp,cc,cmake,el,cl,cs,dockerfile,go,rs,hs,java,jsonc,kt,lua,php,jsm,sass,scss,sol,sql,toml,yaml,vim,zig,org}]
indent_style = space
indent_size  = 2

[{CmakeLists.txt,dockerfile}]
indent_style = space
indent_size  = 2

[.md]
trim_trailing_whitespace = false
